.row{padding-top:20px;}
.main-box{
  width:100%;
  max-width: 360px;
  margin: 0 auto;
}
.main-box .col-md-6{
  width: 100%;
}
.main-box input[type=text], .main-box input[type=number],input[type=password], .main-box select{
    width: 360px;
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #555;
  }
  .main-box input[type=button], .main-box input[type=submit], .main-box input[type=reset], button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .create-account {
     margin-top: 26px;
  }
.create-account a{
  color: dodgerblue;
}
.thank-container{
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 100px;
}
.navbar-text{
    text-align: right;
    display: block;
    width: 100%;
}
.Job-info.viewmore{
  cursor: pointer;
  text-decoration: underline;
}
.me-2{
  width: 200px;
}
.csv_button{
  margin-right: 20px;
  padding: 10px 23px;
  border-radius: 3px;
  background-image: url('./assets/images/csv_icon.png');
  background-repeat: no-repeat;
  background-position: 97%;
  background-size: 20%;
  width: 150px;
}
.jobposting_link{
  text-decoration: underline;
  color: #04AA6D;
  font-size: 18px;
  cursor: pointer;
}
.login_link{
  border-bottom: 1px solid blue;
  color: blue;
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  text-align: left;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  font-size: 14px;
  line-height: 50px;
  max-width: 100%;
  width: 100%;
  height: 46px;
  padding: 0 0 0 10px;
  border: 1px solid #707070;
  margin: 8px 0;
}