.row{padding-top:20px;}
.main-box{
  width:100%;
  max-width: 360px;
  margin: 0 auto;
}
.main-box .col-md-6{
  width: 100%;
}
.main-box input[type=text], .main-box input[type=number],input[type=password], .main-box select{
    width: 360px;
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #555;
  }
  .main-box input[type=button], .main-box input[type=submit], .main-box input[type=reset], button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .create-account {
     margin-top: 26px;
  }
.create-account a{
  color: dodgerblue;
}
.thank-container{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}