.Job-Title{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #183B56;
    margin-bottom: 3px;
    display: block!important;
    text-align: left;
    min-height: 60px;
}
.job-Data {
    display: block;
    width: 100%;
    padding: 0.375rem 0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}
.jobDetails .col-sm-6 > div,
.jobDetails .col-sm-12 > div{
    border:1px solid #000;
    padding: 15px 20px;
}
.jobDetails {
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px 55px;
    font-family: 'Montserrat', sans-serif;
}
.jobDetails-outer {
    background: #04AA6D;
}
.jobList table{
    width: 100%;
}
.jobList .Job-Title{
    text-align: center;
    padding: 20px 0;
    min-height: auto;
    background: #04AA6D;
    color:#fff;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}
tbody, td, tfoot, th, thead, tr{
    padding: 0;
}
.jobList .Job-info{
    text-align: center;
    background: #ccc;
    border-bottom: 1.5px solid #fff;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
}
.jobList .custom-select{
    width:350px;
}